body{
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    background-color: #efefef;
}

// Colors:
$brand-white: #fff;
$brand-white-darkened: darken($brand-white,10%);
$brand-text-color: rgb(0, 34, 49);
$brand-grey-light: darken($brand-white, 15%);
$border: rgb(207, 207, 207) 1px solid;
$border-color: rgb(207, 207, 207);
$nav-links-color: #90f1f1;
$brand-heading-color: rgb(0, 34, 49);

//Headings
h1,h2,h3,h4,h5,h6{
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
    color: $brand-heading-color;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

h4{
    font-weight: 700;
    font-size: 1rem;
}
hr{
    border: $border;
}
//Paragraphs
p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: darken($brand-text-color, 10%);
}
span{
    color: darken($brand-text-color, 10%);

}

// buttons

.brand-button{
    background-color: #67c23a;
    border: 1px solid $nav-links-color;
    &:hover{
        background-color: #85ce61;
    }
    &:focus{
        background-color: #5daf34;
    }
    span{
        color: white;
    }
}